*.obj
*.pyc
/mswin/harlem_python_tests_1/obj
/mswin/UpgradeLog.XML
/mswin/_UpgradeReport_Files
/mswin/do_lib.vcxproj.user
/mswin/geoball_lib_c.vcxproj.user
/mswin/halib_vs.vcxproj.user
/mswin/hapack.opensdf
/mswin/hapack.sdf
/mswin/hapack.suo
/mswin/harlem_nogui.vcxproj.user
/mswin/harlem_vs.vcxproj.user
/mswin/ipack_lib.vcxproj.user
/mswin/jumna_lib_c.vcxproj.user
/mswin/pmemd_lib_c.vcxproj.user
/mswin/pnplib_vs.vcxproj.user
/mswin/vf_lib.vcxproj.user
/mswin/hapack.sln.DotSettings.user
/PNPS/vs15/.vs
/PNPS/vs15/Debug
/PNPS/vs15/x64
/PNPS/src/llpnps_wrap.cxx
