*.obj
*.pyc
*.o
*.so
/.idea
/mswin/harlem_python_tests_1/obj
/mswin/UpgradeLog.XML
/mswin/_UpgradeReport_Files
/mswin/do_lib.vcxproj.user
/mswin/geoball_lib_c.vcxproj.user
/mswin/halib_vs.vcxproj.user
/mswin/hapack.opensdf
/mswin/hapack.sdf
/mswin/hapack.suo
/mswin/harlem_nogui.vcxproj.user
/mswin/harlem_vs.vcxproj.user
/mswin/harlem_lib_vs.vcxproj.user
/mswin/ipack_lib.vcxproj.user
/mswin/jumna_lib_c.vcxproj.user
/mswin/pmemd_lib_c.vcxproj.user
/mswin/pnplib_vs.vcxproj.user
/mswin/vf_lib.vcxproj.user
/mswin/hapack.sln.DotSettings.user
/mswin/HARLEM_PY_LIB.vcxproj.user
/mswin/halib_py_vs.vcxproj.user
/mswin/Debug
/mswin/Release
/mswin/PY3_Debug
/mswin/PY3_Release
/mswin/Debug_Win32
/mswin/PY3_Debug_Win32
/mswin/Release_Win32
/mswin/PY3_Release_Win32
/mswin/Debug_x64
/mswin/PY3_Debug_x64
/mswin/PY3_Release_x64
/mswin/Release_x64
/mswin/obj
/mswin/ipch
/mswin/.vs
/mswin/delphi_lib.u2d
/mswin/geoball_lib_fort.u2d
/mswin/harlem_vs_fort.u2d
/mswin/jumna_lib_fort.u2d
/mswin/pmemd_lib_vs.u2d
/.vs
/vs2010/harlem_python_tests_1/obj
/vs2010/UpgradeLog.XML
/vs2010/_UpgradeReport_Files
/vs2010/do_lib.vcxproj.user
/vs2010/geoball_lib_c.vcxproj.user
/vs2010/halib_vs.vcxproj.user
/vs2010/hapack.opensdf
/vs2010/hapack.sdf
/vs2010/hapack.suo
/vs2010/harlem_nogui.vcxproj.user
/vs2010/harlem_vs.vcxproj.user
/vs2010/ipack_lib.vcxproj.user
/vs2010/jumna_lib_c.vcxproj.user
/vs2010/pmemd_lib_c.vcxproj.user
/vs2010/pnplib_vs.vcxproj.user
/vs2010/vf_lib.vcxproj.user
/vs2010/hapack.sln.DotSettings.user
/vs2010/Debug
/vs2010/Release
/vs2010/ipch
/PNPS/vs15/.vs
/PNPS/vs15/Debug
/PNPS/vs15/x64
/PNPS/src/llpnps_wrap.cxx
/PNPS/.idea
/PNPS/src/llpnps.py

